/proyecto/Principal/nbproject/private/
/proyecto/Principal/build/
/proyecto/paquete02/nbproject/private/
/proyecto/paquete00/principal/nbproject/private/
/proyecto/paquete03/nbproject/private/
/proyecto/paquete01/principal/nbproject/private/
/proyecto/paquete02/facebook/nbproject/private/
/proyecto/paquete01/principal/build/
